<%- include('../partials/header.ejs')%>
<%- include('../partials/navbar.ejs')%>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Edit Service</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/services/update" enctype="multipart/form-data">
                    <label>Service</label>
                    <input class="form-control" type="input" name="service" value="<%= data.Items[0].service %>">
                    <br>
                    <label>Description</label>
                    <input class="form-control" type="input" name="description" value="<%= data.Items[0].description %>">
                    <br>
                    <label>Duration</label>
                    <input class="form-control" type="number" name="durationMinutes" value="<%= data.Items[0].durationMinutes %>">
                    <br>
                    <img src="../../<%= data.Items[0].filePic %>" width="200" class="img-thumbnail">
                    <br>
                    <label>Select picture:</label>
                    <input type="file" name="filePic" />
                    <br>
                    <input class="form-control" type="hidden" name="serviceId" value="<%= data.Items[0].serviceId %>">
                    <input class="form-control" type="hidden" name="nameFile" value="<%= data.Items[0].filePic %>">
                    <input type="submit" class="btn btn-primary" value="Edit">
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs')%>